ADFPOCIND/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFPOCIND"
		},
		"SqlServer1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer1'"
		},
		"KeyVaultLinkedService_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://IndegeneViforPOC.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/010_PL_MC_Cancelled_Withdrawn_Email_Notification')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SW_Email_Notification_by_Status",
						"type": "Switch",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].status__v",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "Cancelled",
									"activities": [
										{
											"name": "WEB_PO_Email Notification",
											"type": "WebActivity",
											"dependsOn": [],
											"policy": {
												"timeout": "0.01:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"url": {
													"value": "@pipeline().parameters.Email_Notification_Url",
													"type": "Expression"
												},
												"method": "POST",
												"headers": {},
												"body": {
													"value": "@concat('{\"template_id\": \"',pipeline().parameters.Cancelled_Success_EmailTemplate_ID,'\",\"to_email\" : \"',pipeline().parameters.PO_EmailID,'\",\"doc_no\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'\",\"doc_name\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].name__v,'\",\"usertype\" : \"Project Owner\",\"country\" : \"',pipeline().parameters.VVPM_Country_Name,'\",\"location\" : \"''''\",\"bu_name\" : \"',pipeline().parameters.BU_Details.firstRow.bu_name,'\"}')",
													"type": "Expression"
												}
											}
										},
										{
											"name": "WEB_DF_Email Notification",
											"type": "WebActivity",
											"dependsOn": [
												{
													"activity": "WEB_PO_Email Notification",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "0.01:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"url": {
													"value": "@pipeline().parameters.Email_Notification_Url",
													"type": "Expression"
												},
												"method": "POST",
												"headers": {},
												"body": {
													"value": "@concat('{\"template_id\": \"',pipeline().parameters.Cancelled_Success_EmailTemplate_ID,'\",\"to_email\" : \"',pipeline().parameters.DF_EmailID,'\",\"doc_no\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'\",\"doc_name\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].name__v,'\",\"usertype\" : \"Digital Factory Team\",\"country\" : \"',pipeline().parameters.VVPM_Country_Name,'\",\"location\" : \"''''\",\"bu_name\" : \"',pipeline().parameters.BU_Details.firstRow.bu_name,'\"}')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"value": "Withdrawn",
									"activities": [
										{
											"name": "WEB_PO_Email Notification_Withdrawn",
											"type": "WebActivity",
											"dependsOn": [],
											"policy": {
												"timeout": "0.01:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"url": {
													"value": "@pipeline().parameters.Email_Notification_Url",
													"type": "Expression"
												},
												"method": "POST",
												"headers": {},
												"body": {
													"value": "@concat('{\"template_id\": \"',pipeline().parameters.Withdrawn_Success_EmailTemplate_ID,'\",\"to_email\" : \"',pipeline().parameters.PO_EmailID,'\",\"doc_no\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'\",\"doc_name\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].name__v,'\",\"usertype\" : \"Project Owner\",\"country\" : \"',pipeline().parameters.VVPM_Country_Name,'\",\"location\" : \"''''\",\"bu_name\" : \"',pipeline().parameters.BU_Details.firstRow.bu_name,'\"}')",
													"type": "Expression"
												}
											}
										},
										{
											"name": "WEB_DF_Email Notification_Withdrawn",
											"type": "WebActivity",
											"dependsOn": [
												{
													"activity": "WEB_PO_Email Notification_Withdrawn",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "0.01:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"url": {
													"value": "@pipeline().parameters.Email_Notification_Url",
													"type": "Expression"
												},
												"method": "POST",
												"headers": {},
												"body": {
													"value": "@concat('{\"template_id\": \"',pipeline().parameters.Withdrawn_Success_EmailTemplate_ID,'\",\"to_email\" : \"',pipeline().parameters.DF_EmailID,'\",\"doc_no\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'\",\"doc_name\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].name__v,'\",\"usertype\" : \"Digital Factory Team\",\"country\" : \"',pipeline().parameters.VVPM_Country_Name,'\",\"location\" : \"''''\",\"bu_name\" : \"',pipeline().parameters.BU_Details.firstRow.bu_name,'\"}')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"value": "Not Approved for Continued Use",
									"activities": [
										{
											"name": "WEB_PO_Email Notification_NotReapproved",
											"type": "WebActivity",
											"dependsOn": [],
											"policy": {
												"timeout": "0.01:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"url": {
													"value": "@pipeline().parameters.Email_Notification_Url",
													"type": "Expression"
												},
												"method": "POST",
												"headers": {},
												"body": {
													"value": "@concat('{\"template_id\": \"',pipeline().parameters.NotReApproved_Success_EmailTemplate_ID,'\",\"to_email\" : \"',pipeline().parameters.PO_EmailID,'\",\"doc_no\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'\",\"doc_name\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].name__v,'\",\"usertype\" : \"Project Owner\",\"country\" : \"',pipeline().parameters.VVPM_Country_Name,'\",\"location\" : \"''''\",\"bu_name\" : \"',pipeline().parameters.BU_Details.firstRow.bu_name,'\"}')",
													"type": "Expression"
												}
											}
										},
										{
											"name": "WEB_DF_Email Notification_NotReapproved",
											"type": "WebActivity",
											"dependsOn": [
												{
													"activity": "WEB_PO_Email Notification_NotReapproved",
													"dependencyConditions": [
														"Succeeded"
													]
												}
											],
											"policy": {
												"timeout": "0.01:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"url": {
													"value": "@pipeline().parameters.Email_Notification_Url",
													"type": "Expression"
												},
												"method": "POST",
												"headers": {},
												"body": {
													"value": "@concat('{\"template_id\": \"',pipeline().parameters.NotReApproved_Success_EmailTemplate_ID,'\",\"to_email\" : \"',pipeline().parameters.DF_EmailID,'\",\"doc_no\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'\",\"doc_name\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].name__v,'\",\"usertype\" : \"Digital Factory Team\",\"country\" : \"',pipeline().parameters.VVPM_Country_Name,'\",\"location\" : \"''''\",\"bu_name\" : \"',pipeline().parameters.BU_Details.firstRow.bu_name,'\"}')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"VINCI_MC_BaseUrl": {
						"type": "string"
					},
					"VINCI_MC_Access_Token": {
						"type": "string"
					},
					"VINCI_MC_Email_Details": {
						"type": "object"
					},
					"VINCI_MC_Product_Folder_ID": {
						"type": "string"
					},
					"VVPM_BaseUrl": {
						"type": "string"
					},
					"VVPM_SessionId": {
						"type": "string"
					},
					"VVPM_Doc_Details": {
						"type": "object"
					},
					"Execution_ID": {
						"type": "string"
					},
					"Email_Notification_Url": {
						"type": "string"
					},
					"DF_EmailID": {
						"type": "string"
					},
					"Cancelled_Success_EmailTemplate_ID": {
						"type": "string"
					},
					"Customer_Key": {
						"type": "string"
					},
					"PO_EmailID": {
						"type": "string"
					},
					"Emailer_Document_FolderID": {
						"type": "string"
					},
					"VVPM_Country_Name": {
						"type": "string"
					},
					"BU_Details": {
						"type": "object"
					},
					"NotReApproved_Success_EmailTemplate_ID": {
						"type": "string"
					},
					"Withdrawn_Success_EmailTemplate_ID": {
						"type": "string"
					},
					"Flag_Update_Status": {
						"type": "object"
					}
				},
				"variables": {
					"processed": {
						"type": "String",
						"defaultValue": "0"
					},
					"increment": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "VVPM - VINCI MC Integration/5. Cancelled_Withdrawn"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-28T06:58:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/011_PL_MC_Expiry_MediaLibrary_ExpireAsset')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FE_AssetList",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set_Current_Unix_Timestamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.AssetList.items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "WEB_Updateasset_inactive",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat(pipeline().parameters.ML_Base_Url,'/assets/',item().id,'/expiration')",
											"type": "Expression"
										},
										"method": "PUT",
										"headers": {
											"Authorization": {
												"value": "@concat('Bearer ',pipeline().parameters.ML_Access_Token)",
												"type": "Expression"
											}
										},
										"body": {
											"value": "@concat('{\"expire_unix_timestamp\": \"', variables('Timestamp'),'\", \"notes\": \"Set by Webdam API\",\"notify\": false}')",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Set_Current_Unix_Timestamp",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Timestamp",
							"value": {
								"value": "@{div(sub(ticks(utcNow()), ticks('1970-01-01')),10000000)}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "WEB_Email_Notification_MediaLibrary",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "FE_AssetList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@pipeline().parameters.Email_Notification_Url",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@concat('{\"template_id\": \"',pipeline().parameters.Media_Library_Email_TemplateID,'\",\"to_email\" : \"',pipeline().parameters.Librarian_EmailID,'\",\"doc_no\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'\",\"doc_name\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].name__v,'\",usertype\" : \"Media Librarian\",\"country\" : \"''''\",\"location\" : \"''''\"}')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"AssetList": {
						"type": "object"
					},
					"ML_Access_Token": {
						"type": "string"
					},
					"ML_Base_Url": {
						"type": "string"
					},
					"Email_Notification_Url": {
						"type": "string"
					},
					"VVPM_Doc_Details": {
						"type": "object"
					},
					"Media_Library_Email_TemplateID": {
						"type": "string"
					},
					"Librarian_EmailID": {
						"type": "string"
					}
				},
				"variables": {
					"Timestamp": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VVPM - VINCI MC Integration/3. Expired"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-28T06:56:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/011_PL_MC_Expiry_MediaLibrary_ExpireAsset1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FE_AssetList",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set_Current_Unix_Timestamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.AssetList.items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "WEB_Updateasset_inactive",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat(pipeline().parameters.ML_Base_Url,'/assets/',item().id,'/expiration')",
											"type": "Expression"
										},
										"method": "PUT",
										"headers": {
											"Authorization": {
												"value": "@concat('Bearer ',pipeline().parameters.ML_Access_Token)",
												"type": "Expression"
											}
										},
										"body": {
											"value": "@concat('{\"expire_unix_timestamp\": \"', variables('Timestamp'),'\", \"notes\": \"Set by Webdam API\",\"notify\": false}')",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Set_Current_Unix_Timestamp",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Timestamp",
							"value": {
								"value": "@{div(sub(ticks(utcNow()), ticks('1970-01-01')),10000000)}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "WEB_Email_Notification_MediaLibrary",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "FE_AssetList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@pipeline().parameters.Email_Notification_Url",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@concat('{\"template_id\": \"',pipeline().parameters.Media_Library_Email_TemplateID,'\",\"to_email\" : \"',pipeline().parameters.Librarian_EmailID,'\",\"doc_no\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'\",\"doc_name\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].name__v,'\",usertype\" : \"Media Librarian\",\"country\" : \"''''\",\"location\" : \"''''\"}')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"AssetList": {
						"type": "object"
					},
					"ML_Access_Token": {
						"type": "string"
					},
					"ML_Base_Url": {
						"type": "string"
					},
					"Email_Notification_Url": {
						"type": "string"
					},
					"VVPM_Doc_Details": {
						"type": "object"
					},
					"Media_Library_Email_TemplateID": {
						"type": "string"
					},
					"Librarian_EmailID": {
						"type": "string"
					}
				},
				"variables": {
					"Timestamp": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VVPM - VINCI MC Integration/3. Expired"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-28T06:56:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/KeyVaultLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('KeyVaultLinkedService_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/006_PL_MC_AFD_Email_Notification')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IF_Published_uat_flag_Updated",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.Flag_Update_Status.responseStatus,'SUCCESS')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SP_add_asset_log_publisheduatflag_errorlog",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[VFR].[add_asset_log]",
										"storedProcedureParameters": {
											"created_by": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"created_date": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"error_activity_name": {
												"value": "Country Folder Creation Error",
												"type": "String"
											},
											"error_message": {
												"value": {
													"value": "@pipeline().parameters.Flag_Update_Status.errors",
													"type": "Expression"
												},
												"type": "String"
											},
											"error_timestamp": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"execution_id": {
												"value": {
													"value": "@pipeline().parameters.Execution_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_asset_id": {
												"value": {
													"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_asset_name": {
												"value": {
													"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].name__v",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_asset_type": {
												"value": "VINCI MC Email",
												"type": "String"
											},
											"status": {
												"value": "Published from UAT to PROD Flag Update Failure",
												"type": "String"
											},
											"target_asset_id": {
												"value": "Error",
												"type": "String"
											},
											"target_asset_name": {
												"value": "Error",
												"type": "String"
											},
											"target_asset_type": {
												"value": "Error",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "WEB_AFD_DF_Email Notification",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "WEB_AFD_PO_Email Notification",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@pipeline().parameters.Email_Notification_Url",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"template_id\": \"',pipeline().parameters.AFD_Success_EmailTemplate_ID,'\",\"to_email\" : \"',pipeline().parameters.DF_EmailID,'\",\"doc_no\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'\",\"doc_name\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].name__v,'\",\"usertype\" : \"Digital Factory Team\",\"country\" : \"',pipeline().parameters.VVPM_Country_Details.data[0].name__v,'\",\"location\" : \"''''\",\"bu_name\" : \"',pipeline().parameters.BU_Details.firstRow.bu_name,'\"}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "WEB_AFD_PO_Email Notification",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@pipeline().parameters.Email_Notification_Url",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"template_id\": \"',pipeline().parameters.AFD_Success_EmailTemplate_ID,'\",\"to_email\" : \"',pipeline().parameters.PO_EmailID,'\",\"doc_no\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'\",\"doc_name\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].name__v,'\",\"usertype\" : \"Project Owner\",\"country\" : \"',pipeline().parameters.VVPM_Country_Details.data[0].name__v,'\",\"location\" : \"''''\",\"bu_name\" : \"',pipeline().parameters.BU_Details.firstRow.bu_name,'\"}')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Execution_ID": {
						"type": "string"
					},
					"Email_Notification_Url": {
						"type": "string"
					},
					"DF_EmailID": {
						"type": "string"
					},
					"AFD_Success_EmailTemplate_ID": {
						"type": "string"
					},
					"VVPM_Doc_Details": {
						"type": "object"
					},
					"VVPM_Country_Details": {
						"type": "object"
					},
					"BU_Details": {
						"type": "object"
					},
					"PO_EmailID": {
						"type": "string"
					},
					"Flag_Update_Status": {
						"type": "object"
					}
				},
				"variables": {
					"processed": {
						"type": "String",
						"defaultValue": "0"
					},
					"increment": {
						"type": "String",
						"defaultValue": "0"
					},
					"ML_Expiration_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VVPM - VINCI MC Integration/2. Approved for Distribution"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-28T06:56:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/009_PL_MC_Cancelled_Withdrawn_Move_Archival')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WEB_Move_Document_Folder_Archived",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat(pipeline().parameters.VINCI_MC_BaseUrl,'.rest.marketingcloudapis.com/asset/v1/content/categories/',pipeline().parameters.Emailer_Document_FolderID)",
								"type": "Expression"
							},
							"method": "PUT",
							"headers": {
								"Authorization": {
									"value": "@concat('Bearer ',pipeline().parameters.VINCI_MC_Access_Token)",
									"type": "Expression"
								},
								"Content-Type": "application/json"
							},
							"body": {
								"value": "@concat('{\"id\": ',pipeline().parameters.Emailer_Document_FolderID,',\"name\": \"',pipeline().parameters.Customer_Key,'\",\"parentId\": ',pipeline().parameters.VINCI_MC_Product_Folder_ID,'}')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "WEB_Update_deactivated_VVPM",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SW_Update_tag_by_status",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat(pipeline().parameters.VVPM_BaseUrl,'/api/v21.2/objects/documents/',pipeline().parameters.VVPM_Doc_Details.data[0].Id)",
								"type": "Expression"
							},
							"method": "PUT",
							"headers": {
								"Authorization": {
									"value": "@pipeline().parameters.VVPM_SessionId",
									"type": "Expression"
								},
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": "deactivated__c=true"
						}
					},
					{
						"name": "SP_add_asset_log_Assetlog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IF_deactivated_updated",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[VFR].[add_asset_log]",
							"storedProcedureParameters": {
								"created_by": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"created_date": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"error_activity_name": {
									"value": null,
									"type": "String"
								},
								"error_message": {
									"value": null,
									"type": "String"
								},
								"error_timestamp": {
									"value": null,
									"type": "DateTime"
								},
								"execution_id": {
									"value": {
										"value": "@pipeline().parameters.Execution_ID",
										"type": "Expression"
									},
									"type": "String"
								},
								"source_asset_id": {
									"value": {
										"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v",
										"type": "Expression"
									},
									"type": "String"
								},
								"source_asset_name": {
									"value": {
										"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].name__v",
										"type": "Expression"
									},
									"type": "String"
								},
								"source_asset_type": {
									"value": "VINCI MC Email",
									"type": "String"
								},
								"status": {
									"value": "MC Email Template Expiry - Success",
									"type": "String"
								},
								"target_asset_id": {
									"value": {
										"value": "@pipeline().parameters.VINCI_MC_Email_Details.items[0].id",
										"type": "Expression"
									},
									"type": "String"
								},
								"target_asset_name": {
									"value": {
										"value": "@pipeline().parameters.VINCI_MC_Email_Details.items[0].name",
										"type": "Expression"
									},
									"type": "String"
								},
								"target_asset_type": {
									"value": {
										"value": "@concat('VINCI MC Email Message - ',pipeline().parameters.VINCI_MC_Email_Details.items[0].assetType.displayName)",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SET_Processed_asset_count",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SP_add_asset_log_Assetlog",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "processed",
							"value": {
								"value": "@string(add(int(variables('increment')),1))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SET_Increment variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "SET_Processed_asset_count",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "increment",
							"value": {
								"value": "@variables('processed')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SP_add_asset_log_Movefolder_errorlog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "WEB_Move_Document_Folder_Archived",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[VFR].[add_asset_log]",
							"storedProcedureParameters": {
								"created_by": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"created_date": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"error_activity_name": {
									"value": "WEB_Move_Archived",
									"type": "String"
								},
								"error_message": {
									"value": {
										"value": "@activity('WEB_Move_Document_Folder_Archived').output",
										"type": "Expression"
									},
									"type": "String"
								},
								"error_timestamp": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"execution_id": {
									"value": {
										"value": "@pipeline().parameters.Execution_ID",
										"type": "Expression"
									},
									"type": "String"
								},
								"source_asset_id": {
									"value": {
										"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v",
										"type": "Expression"
									},
									"type": "String"
								},
								"source_asset_name": {
									"value": {
										"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v",
										"type": "Expression"
									},
									"type": "String"
								},
								"source_asset_type": {
									"value": "VINCI MC Email",
									"type": "String"
								},
								"status": {
									"value": "Expiry File movement Error",
									"type": "String"
								},
								"target_asset_id": {
									"value": "Error",
									"type": "String"
								},
								"target_asset_name": {
									"value": "Error",
									"type": "String"
								},
								"target_asset_type": {
									"value": "Error",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "IF_deactivated_updated",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "WEB_Update_deactivated_VVPM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('WEB_Update_deactivated_VVPM').output.responseStatus,'SUCCESS')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SP_add_asset_log_deactivatedflag_errorlog",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[VFR].[add_asset_log]",
										"storedProcedureParameters": {
											"created_by": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"created_date": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"error_activity_name": {
												"value": "Country Folder Creation Error",
												"type": "String"
											},
											"error_message": {
												"value": {
													"value": "@activity('WEB_Update_deactivated_VVPM').output.errors",
													"type": "Expression"
												},
												"type": "String"
											},
											"error_timestamp": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"execution_id": {
												"value": {
													"value": "@pipeline().parameters.Execution_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_asset_id": {
												"value": {
													"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_asset_name": {
												"value": {
													"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].name__v",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_asset_type": {
												"value": "VINCI MC Email",
												"type": "String"
											},
											"status": {
												"value": "Deactivated Flag Update Failure",
												"type": "String"
											},
											"target_asset_id": {
												"value": "Error",
												"type": "String"
											},
											"target_asset_name": {
												"value": "Error",
												"type": "String"
											},
											"target_asset_type": {
												"value": "Error",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "PL_010_Cancelled_Email_Notification",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "010_PL_MC_Cancelled_Withdrawn_Email_Notification",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"VINCI_MC_BaseUrl": {
												"value": "@pipeline().parameters.VINCI_MC_BaseUrl",
												"type": "Expression"
											},
											"VINCI_MC_Access_Token": {
												"value": "@pipeline().parameters.VINCI_MC_Access_Token",
												"type": "Expression"
											},
											"VINCI_MC_Email_Details": {
												"value": "@pipeline().parameters.VINCI_MC_Email_Details",
												"type": "Expression"
											},
											"VINCI_MC_Product_Folder_ID": {
												"value": "@pipeline().parameters.VINCI_MC_Product_Folder_ID",
												"type": "Expression"
											},
											"VVPM_BaseUrl": {
												"value": "@pipeline().parameters.VVPM_BaseUrl",
												"type": "Expression"
											},
											"VVPM_SessionId": {
												"value": "@pipeline().parameters.VVPM_SessionId",
												"type": "Expression"
											},
											"VVPM_Doc_Details": {
												"value": "@pipeline().parameters.VVPM_Doc_Details",
												"type": "Expression"
											},
											"Execution_ID": {
												"value": "@pipeline().parameters.Execution_ID",
												"type": "Expression"
											},
											"Email_Notification_Url": {
												"value": "@pipeline().parameters.Email_Notification_Url",
												"type": "Expression"
											},
											"DF_EmailID": {
												"value": "@pipeline().parameters.DF_EmailID",
												"type": "Expression"
											},
											"Cancelled_Success_EmailTemplate_ID": {
												"value": "@pipeline().parameters.Cancelled_Success_EmailTemplate_ID",
												"type": "Expression"
											},
											"Customer_Key": {
												"value": "@pipeline().parameters.Customer_Key",
												"type": "Expression"
											},
											"PO_EmailID": {
												"value": "@pipeline().parameters.PO_EmailID",
												"type": "Expression"
											},
											"Emailer_Document_FolderID": {
												"value": "@pipeline().parameters.Emailer_Document_FolderID",
												"type": "Expression"
											},
											"VVPM_Country_Name": {
												"value": "@pipeline().parameters.VVPM_Country_Name",
												"type": "Expression"
											},
											"BU_Details": {
												"value": "@pipeline().parameters.BU_Details",
												"type": "Expression"
											},
											"NotReApproved_Success_EmailTemplate_ID": {
												"value": "@pipeline().parameters.NotReApproved_Success_EmailTemplate_ID",
												"type": "Expression"
											},
											"Withdrawn_Success_EmailTemplate_ID": {
												"value": "@pipeline().parameters.Withdrawn_Success_EmailTemplate_ID",
												"type": "Expression"
											},
											"Flag_Update_Status": {
												"value": "@activity('WEB_Update_deactivated_VVPM').output",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SW_Update_tag_by_status",
						"type": "Switch",
						"dependsOn": [
							{
								"activity": "WEB_Move_Document_Folder_Archived",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].status__v",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "Cancelled",
									"activities": [
										{
											"name": "WEB_update_tag_Cancelled",
											"type": "WebActivity",
											"dependsOn": [],
											"policy": {
												"timeout": "0.01:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"url": {
													"value": "@concat(pipeline().parameters.VINCI_MC_BaseUrl,'.rest.marketingcloudapis.com/asset/v1/content/assets/',pipeline().parameters.VINCI_MC_Email_Details.items[0].id)",
													"type": "Expression"
												},
												"method": "PATCH",
												"headers": {
													"Authorization": {
														"value": "@concat('Bearer ',pipeline().parameters.VINCI_MC_Access_Token)",
														"type": "Expression"
													},
													"Content-Type": "application/json"
												},
												"body": {
													"value": "@concat('{\"tags\": [\"Cancelled\"]}')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"value": "Withdrawn",
									"activities": [
										{
											"name": "WEB_update_tag_Withdrawn",
											"type": "WebActivity",
											"dependsOn": [],
											"policy": {
												"timeout": "0.01:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"url": {
													"value": "@concat(pipeline().parameters.VINCI_MC_BaseUrl,'.rest.marketingcloudapis.com/asset/v1/content/assets/',pipeline().parameters.VINCI_MC_Email_Details.items[0].id)",
													"type": "Expression"
												},
												"method": "PATCH",
												"headers": {
													"Authorization": {
														"value": "@concat('Bearer ',pipeline().parameters.VINCI_MC_Access_Token)",
														"type": "Expression"
													},
													"Content-Type": "application/json"
												},
												"body": {
													"value": "@concat('{\"tags\": [\"Withdrawn\"]}')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"value": "Not Approved for Continued Use",
									"activities": [
										{
											"name": "WEB_update_tag_Not Approved for Continued Use",
											"type": "WebActivity",
											"dependsOn": [],
											"policy": {
												"timeout": "0.01:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"url": {
													"value": "@concat(pipeline().parameters.VINCI_MC_BaseUrl,'.rest.marketingcloudapis.com/asset/v1/content/assets/',pipeline().parameters.VINCI_MC_Email_Details.items[0].id)",
													"type": "Expression"
												},
												"method": "PATCH",
												"headers": {
													"Authorization": {
														"value": "@concat('Bearer ',pipeline().parameters.VINCI_MC_Access_Token)",
														"type": "Expression"
													},
													"Content-Type": "application/json"
												},
												"body": {
													"value": "@concat('{\"tags\": [\"Not ReApproved\"]}')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"VINCI_MC_BaseUrl": {
						"type": "string"
					},
					"VINCI_MC_Access_Token": {
						"type": "string"
					},
					"VINCI_MC_Email_Details": {
						"type": "object"
					},
					"VINCI_MC_Product_Folder_ID": {
						"type": "string"
					},
					"VVPM_BaseUrl": {
						"type": "string"
					},
					"VVPM_SessionId": {
						"type": "string"
					},
					"VVPM_Doc_Details": {
						"type": "object"
					},
					"Execution_ID": {
						"type": "string"
					},
					"Email_Notification_Url": {
						"type": "string"
					},
					"DF_EmailID": {
						"type": "string"
					},
					"Cancelled_Success_EmailTemplate_ID": {
						"type": "string"
					},
					"Customer_Key": {
						"type": "string"
					},
					"PO_EmailID": {
						"type": "string"
					},
					"Emailer_Document_FolderID": {
						"type": "string"
					},
					"VVPM_Country_Name": {
						"type": "string"
					},
					"BU_Details": {
						"type": "object"
					},
					"NotReApproved_Success_EmailTemplate_ID": {
						"type": "string"
					},
					"Withdrawn_Success_EmailTemplate_ID": {
						"type": "string"
					}
				},
				"variables": {
					"processed": {
						"type": "String",
						"defaultValue": "0"
					},
					"increment": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "VVPM - VINCI MC Integration/5. Cancelled_Withdrawn"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-28T06:58:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]",
				"[concat(variables('factoryId'), '/pipelines/010_PL_MC_Cancelled_Withdrawn_Email_Notification')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/009_PL_MC_Draft_Email_Notification')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WEB_Update_placeholderflag_VVPM",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat(pipeline().parameters.VVPM_BaseUrl,'/api/v21.2/objects/documents/',pipeline().parameters.VVPM_Doc_Details.data[0].Id)",
								"type": "Expression"
							},
							"method": "PUT",
							"headers": {
								"Authorization": {
									"value": "@pipeline().parameters.VVPM_SessionId",
									"type": "Expression"
								},
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": "placeholder_created__c=true"
						}
					},
					{
						"name": "IF_Placeholderflag_Updated",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "WEB_Update_placeholderflag_VVPM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('WEB_Update_placeholderflag_VVPM').output.responseStatus,'SUCCESS')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SP_add_asset_log_CountryFolder_errorlog",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[VFR].[add_asset_log]",
										"storedProcedureParameters": {
											"created_by": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"created_date": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"error_activity_name": {
												"value": "Country Folder Creation Error",
												"type": "String"
											},
											"error_message": {
												"value": {
													"value": "@activity('WEB_Update_placeholderflag_VVPM').output.errors",
													"type": "Expression"
												},
												"type": "String"
											},
											"error_timestamp": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"execution_id": {
												"value": {
													"value": "@pipeline().parameters.Execution_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_asset_id": {
												"value": {
													"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_asset_name": {
												"value": {
													"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].name__v",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_asset_type": {
												"value": "VINCI MC Email",
												"type": "String"
											},
											"status": {
												"value": "Placeholder Flag Update Failure",
												"type": "String"
											},
											"target_asset_id": {
												"value": "Error",
												"type": "String"
											},
											"target_asset_name": {
												"value": "Error",
												"type": "String"
											},
											"target_asset_type": {
												"value": "Error",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "WEB_PO_Email Notification",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@pipeline().parameters.Email_Notification_Url",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"template_id\": \"',pipeline().parameters.EmailTemplate_ID,'\",\"to_email\" : \"',pipeline().parameters.PO_EmailID,'\",\"doc_no\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'\",\"doc_name\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].name__v,'\",\"usertype\" : \"Project Owner\",\"country\" : \"',pipeline().parameters.Email_Country_Name,'\",\"location\" : \"',pipeline().parameters.Email_Location,'\",\"bu_name\" : \"',pipeline().parameters.BU_Details.firstRow.bu_name,'\"}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "WEB_DF_Email Notification",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "WEB_PO_Email Notification",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@pipeline().parameters.Email_Notification_Url",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('{\"template_id\": \"',pipeline().parameters.EmailTemplate_ID,'\",\"to_email\" : \"',pipeline().parameters.DF_EmailID,'\",\"doc_no\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'\",\"doc_name\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].name__v,'\",\"usertype\" : \"Digital Factory Team\",\"country\" : \"',pipeline().parameters.Email_Country_Name,'\",\"location\" : \"',pipeline().parameters.Email_Location,'\",\"bu_name\" : \"',pipeline().parameters.BU_Details.firstRow.bu_name,'\"}')",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"VVPM_BaseUrl": {
						"type": "string"
					},
					"VVPM_SessionId": {
						"type": "string"
					},
					"VVPM_Doc_Details": {
						"type": "object"
					},
					"Email_Notification_Url": {
						"type": "string"
					},
					"EmailTemplate_ID": {
						"type": "string"
					},
					"Email_Country_Name": {
						"type": "string"
					},
					"PO_EmailID": {
						"type": "string"
					},
					"DF_EmailID": {
						"type": "string"
					},
					"Email_Location": {
						"type": "string"
					},
					"Execution_ID": {
						"type": "string"
					},
					"BU_Details": {
						"type": "object"
					}
				},
				"folder": {
					"name": "VVPM - VINCI MC Integration/1. Draft"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-28T06:56:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/010_PL_MC_Expiry_MediaLibrary_Asset_List')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IF_Make_Available_Dams",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(1,0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "WEB_Get_FolderId_Media_Library",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat(pipeline().parameters.MediaLibrary_Base_Url,'/folders')",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {
											"Authorization": {
												"value": "@concat('Bearer ',pipeline().parameters.ML_Access_Token)",
												"type": "Expression"
											}
										},
										"body": {
											"value": "@concat('{\"parent\":\"10494707\",\"clientfolderid\":null,\"name\":\"',pipeline().parameters.VVPM_Doc_details.data[0].name__v,'\",\"status\":\"inactive\"}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "WEB_Get_Assets_Media_Library",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "WEB_Get_FolderId_Media_Library",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat(pipeline().parameters.MediaLibrary_Base_Url,'/folders/',activity('WEB_Get_FolderId_Media_Library').output.id,'/assets')",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {
											"Authorization": {
												"value": "@concat('Bearer ',pipeline().parameters.ML_Access_Token)",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "PL_Media_Library_Expire_Assets",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "WEB_Get_Assets_Media_Library",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "011_PL_MC_Expiry_MediaLibrary_ExpireAsset",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"AssetList": {
												"value": "@activity('WEB_Get_Assets_Media_Library').output",
												"type": "Expression"
											},
											"ML_Access_Token": {
												"value": "@pipeline().parameters.ML_Access_Token",
												"type": "Expression"
											},
											"ML_Base_Url": {
												"value": "@pipeline().parameters.MediaLibrary_Base_Url",
												"type": "Expression"
											},
											"Email_Notification_Url": {
												"value": "@pipeline().parameters.Email_Notification_Url",
												"type": "Expression"
											},
											"VVPM_Doc_Details": {
												"value": "@pipeline().parameters.VVPM_Doc_details",
												"type": "Expression"
											},
											"Media_Library_Email_TemplateID": {
												"value": "@pipeline().parameters.Media_Library_Email_TemplateID",
												"type": "Expression"
											},
											"Librarian_EmailID": {
												"value": "@pipeline().parameters.Librarian_EmailID",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ML_Access_Token": {
						"type": "string"
					},
					"MediaLibrary_Base_Url": {
						"type": "string"
					},
					"VVPM_Doc_details": {
						"type": "object"
					},
					"Email_Notification_Url": {
						"type": "string"
					},
					"Media_Library_Email_TemplateID": {
						"type": "string"
					},
					"Librarian_EmailID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "VVPM - VINCI MC Integration/3. Expired"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-28T06:56:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/011_PL_MC_Expiry_MediaLibrary_ExpireAsset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/010_PL_MC_Expiry_MediaLibrary_Asset_List1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IF_Make_Available_Dams",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(1,0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "WEB_Get_FolderId_Media_Library",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat(pipeline().parameters.MediaLibrary_Base_Url,'/folders')",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {
											"Authorization": {
												"value": "@concat('Bearer ',pipeline().parameters.ML_Access_Token)",
												"type": "Expression"
											}
										},
										"body": {
											"value": "@concat('{\"parent\":\"10494707\",\"clientfolderid\":null,\"name\":\"',pipeline().parameters.VVPM_Doc_details.data[0].name__v,'\",\"status\":\"inactive\"}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "WEB_Get_Assets_Media_Library",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "WEB_Get_FolderId_Media_Library",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat(pipeline().parameters.MediaLibrary_Base_Url,'/folders/',activity('WEB_Get_FolderId_Media_Library').output.id,'/assets')",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {
											"Authorization": {
												"value": "@concat('Bearer ',pipeline().parameters.ML_Access_Token)",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "PL_Media_Library_Expire_Assets",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "WEB_Get_Assets_Media_Library",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "011_PL_MC_Expiry_MediaLibrary_ExpireAsset1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"AssetList": {
												"value": "@activity('WEB_Get_Assets_Media_Library').output",
												"type": "Expression"
											},
											"ML_Access_Token": {
												"value": "@pipeline().parameters.ML_Access_Token",
												"type": "Expression"
											},
											"ML_Base_Url": {
												"value": "@pipeline().parameters.MediaLibrary_Base_Url",
												"type": "Expression"
											},
											"Email_Notification_Url": {
												"value": "@pipeline().parameters.Email_Notification_Url",
												"type": "Expression"
											},
											"VVPM_Doc_Details": {
												"value": "@pipeline().parameters.VVPM_Doc_details",
												"type": "Expression"
											},
											"Media_Library_Email_TemplateID": {
												"value": "@pipeline().parameters.Media_Library_Email_TemplateID",
												"type": "Expression"
											},
											"Librarian_EmailID": {
												"value": "@pipeline().parameters.Librarian_EmailID",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ML_Access_Token": {
						"type": "string"
					},
					"MediaLibrary_Base_Url": {
						"type": "string"
					},
					"VVPM_Doc_details": {
						"type": "object"
					},
					"Email_Notification_Url": {
						"type": "string"
					},
					"Media_Library_Email_TemplateID": {
						"type": "string"
					},
					"Librarian_EmailID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "VVPM - VINCI MC Integration/3. Expired"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-28T06:56:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/011_PL_MC_Expiry_MediaLibrary_ExpireAsset1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable11')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable12')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable121')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable13')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable14')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/005_PL_MC_AFD_Product')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FE_Product",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].product__v",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "WEB_Check_VVPM_Doc_VINCI_MC",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "WEB_Get_VVPM_Product_Name",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat(pipeline().parameters.VINCI_MC_BaseUrl,'.rest.marketingcloudapis.com/asset/v1/content/assets?$filter=customerKey=',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'-',pipeline().parameters.VVPM_Country_Details.data[0].abbreviation__c,'-',activity('WEB_Get_VVPM_Product_Name').output.data[0].abbreviation__c)",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {
											"Authorization": {
												"value": "@concat('Bearer ',pipeline().parameters.VINCI_MC_Access_Token)",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "WEB_Get_VVPM_Product_Name",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat(pipeline().parameters.VVPM_BaseUrl,'/api/v21.2/query?q=SELECT name__v,abbreviation__c FROM product__v WHERE id = ''',item(),'''')",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {
											"Authorization": {
												"value": "@pipeline().parameters.VVPM_SessionId",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "If MC_Available",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "WEB_Check_VVPM_Doc_VINCI_MC",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('WEB_Check_VVPM_Doc_VINCI_MC').output.count,0)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "WEB_update_tag_Approved",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "0.01:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": {
														"value": "@concat(pipeline().parameters.VINCI_MC_BaseUrl,'.rest.marketingcloudapis.com/asset/v1/content/assets/',activity('WEB_Check_VVPM_Doc_VINCI_MC').output.items[0].id)",
														"type": "Expression"
													},
													"method": "PATCH",
													"headers": {
														"Authorization": {
															"value": "@concat('Bearer ',pipeline().parameters.VINCI_MC_Access_Token)",
															"type": "Expression"
														},
														"Content-Type": "application/json"
													},
													"body": {
														"value": "@concat('{\"tags\": [\"Approved\"]}')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "WEB_Update_Published_UAT_VVPM",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "WEB_update_tag_Approved",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.01:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": {
														"value": "@concat(pipeline().parameters.VVPM_BaseUrl,'/api/v21.2/objects/documents/',pipeline().parameters.VVPM_Doc_Details.data[0].Id)",
														"type": "Expression"
													},
													"method": "PUT",
													"headers": {
														"Authorization": {
															"value": "@pipeline().parameters.VVPM_SessionId",
															"type": "Expression"
														},
														"Content-Type": "application/x-www-form-urlencoded"
													},
													"body": "published_from_uat_to_prod__c=true&placeholder_created__c=true"
												}
											},
											{
												"name": "SP_add_asset_log_Assetlog",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "006_PL_Email_Notification_MC_AFD_copy1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.01:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[VFR].[add_asset_log]",
													"storedProcedureParameters": {
														"created_by": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"created_date": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"error_activity_name": {
															"value": null,
															"type": "String"
														},
														"error_message": {
															"value": null,
															"type": "String"
														},
														"error_timestamp": {
															"value": null,
															"type": "DateTime"
														},
														"execution_id": {
															"value": {
																"value": "@pipeline().parameters.Execution_ID",
																"type": "Expression"
															},
															"type": "String"
														},
														"source_asset_id": {
															"value": {
																"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v",
																"type": "Expression"
															},
															"type": "String"
														},
														"source_asset_name": {
															"value": {
																"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].name__v",
																"type": "Expression"
															},
															"type": "String"
														},
														"source_asset_type": {
															"value": "VINCI MC Email",
															"type": "String"
														},
														"status": {
															"value": "MC Email Template Expiry - Success",
															"type": "String"
														},
														"target_asset_id": {
															"value": {
																"value": "@activity('WEB_Check_VVPM_Doc_VINCI_MC').output.items[0].id",
																"type": "Expression"
															},
															"type": "String"
														},
														"target_asset_name": {
															"value": {
																"value": "@activity('WEB_Check_VVPM_Doc_VINCI_MC').output.items[0].name",
																"type": "Expression"
															},
															"type": "String"
														},
														"target_asset_type": {
															"value": "VINCI MC Email",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SqlServer1",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "SET_Processed_asset_count",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "SP_add_asset_log_Assetlog",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "processed",
													"value": {
														"value": "@string(add(int(variables('increment')),1))",
														"type": "Expression"
													}
												}
											},
											{
												"name": "SET_Increment variable",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "SET_Processed_asset_count",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "increment",
													"value": {
														"value": "@variables('processed')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "006_PL_Email_Notification_MC_AFD_copy1",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "WEB_Update_Published_UAT_VVPM",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "006_PL_MC_AFD_Email_Notification",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"Execution_ID": {
															"value": "@pipeline().parameters.Execution_ID",
															"type": "Expression"
														},
														"Email_Notification_Url": {
															"value": "@pipeline().parameters.Email_Notification_Url",
															"type": "Expression"
														},
														"DF_EmailID": {
															"value": "@pipeline().parameters.DF_EmailID",
															"type": "Expression"
														},
														"AFD_Success_EmailTemplate_ID": {
															"value": "@pipeline().parameters.AFD_Success_EmailTemplate_ID",
															"type": "Expression"
														},
														"VVPM_Doc_Details": {
															"value": "@pipeline().parameters.VVPM_Doc_Details",
															"type": "Expression"
														},
														"VVPM_Country_Details": {
															"value": "@pipeline().parameters.VVPM_Country_Details",
															"type": "Expression"
														},
														"BU_Details": {
															"value": "@pipeline().parameters.BU_Details",
															"type": "Expression"
														},
														"PO_EmailID": {
															"value": "@pipeline().parameters.PO_EmailID",
															"type": "Expression"
														},
														"Flag_Update_Status": {
															"value": "@activity('WEB_Update_Published_UAT_VVPM').output",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"VVPM_BaseUrl": {
						"type": "string"
					},
					"VVPM_SessionId": {
						"type": "string"
					},
					"Execution_ID": {
						"type": "string"
					},
					"Email_Notification_Url": {
						"type": "string"
					},
					"DF_EmailID": {
						"type": "string"
					},
					"VINCI_MC_BaseUrl": {
						"type": "string"
					},
					"AFD_Success_EmailTemplate_ID": {
						"type": "string"
					},
					"VVPM_Doc_Details": {
						"type": "object"
					},
					"VINCI_MC_Access_Token": {
						"type": "string"
					},
					"VVPM_Country_Details": {
						"type": "object"
					},
					"BU_Details": {
						"type": "object"
					},
					"PO_EmailID": {
						"type": "string"
					}
				},
				"variables": {
					"processed": {
						"type": "String",
						"defaultValue": "0"
					},
					"increment": {
						"type": "String",
						"defaultValue": "0"
					},
					"ML_Expiration_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VVPM - VINCI MC Integration/2. Approved for Distribution"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-28T06:56:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]",
				"[concat(variables('factoryId'), '/pipelines/006_PL_MC_AFD_Email_Notification')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/005_PL_MC_Reapproval_Product')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FE_Product",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].product__v",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "IF_Tag_Expired",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "WEB_Check_VVPM_Doc_VINCI_MC",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(activity('WEB_Check_VVPM_Doc_VINCI_MC').output.items[0].tags[0],'Expired')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "WEB_update_tag_notapproved_reapproval_AFD",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "0.01:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": {
														"value": "@concat(pipeline().parameters.VINCI_MC_BaseUrl,'.rest.marketingcloudapis.com/asset/v1/content/assets/',activity('WEB_Check_VVPM_Doc_VINCI_MC').output.items[0].id)",
														"type": "Expression"
													},
													"method": "PATCH",
													"headers": {
														"Authorization": {
															"value": "@concat('Bearer ',pipeline().parameters.VINCI_MC_Access_Token)",
															"type": "Expression"
														},
														"Content-Type": "application/json"
													},
													"body": {
														"value": "@concat('{\"tags\": [\"Not Approved\"]}')",
														"type": "Expression"
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "WEB_update_tag_notapproved_reapproval",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "WEB_Move_Document_Folder_Archived",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.01:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": {
														"value": "@concat(pipeline().parameters.VINCI_MC_BaseUrl,'.rest.marketingcloudapis.com/asset/v1/content/assets/',activity('WEB_Check_VVPM_Doc_VINCI_MC').output.items[0].id)",
														"type": "Expression"
													},
													"method": "PATCH",
													"headers": {
														"Authorization": {
															"value": "@concat('Bearer ',pipeline().parameters.VINCI_MC_Access_Token)",
															"type": "Expression"
														},
														"Content-Type": "application/json"
													},
													"body": {
														"value": "@concat('{\"tags\": [\"Not Approved\"]}')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "SP_add_asset_log_Movefolder_errorlog",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "WEB_Move_Document_Folder_Archived",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.01:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[VFR].[add_asset_log]",
													"storedProcedureParameters": {
														"created_by": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"created_date": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"error_activity_name": {
															"value": "WEB_Move_Document_Folder_Archived",
															"type": "String"
														},
														"error_message": {
															"value": {
																"value": "@activity('WEB_Move_Document_Folder_Archived').output",
																"type": "Expression"
															},
															"type": "String"
														},
														"error_timestamp": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"execution_id": {
															"value": {
																"value": "@pipeline().parameters.Execution_ID",
																"type": "Expression"
															},
															"type": "String"
														},
														"source_asset_id": {
															"value": {
																"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v",
																"type": "Expression"
															},
															"type": "String"
														},
														"source_asset_name": {
															"value": {
																"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].name__v",
																"type": "Expression"
															},
															"type": "String"
														},
														"source_asset_type": {
															"value": "VINCI MC Email",
															"type": "String"
														},
														"status": {
															"value": "Reapproval - Emailer Document Folder Movement - Failure",
															"type": "String"
														},
														"target_asset_id": {
															"value": "Error",
															"type": "String"
														},
														"target_asset_name": {
															"value": "Error",
															"type": "String"
														},
														"target_asset_type": {
															"value": "Error",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SqlServer1",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "WEB_Move_Document_Folder_Archived",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "LK_Get_Emailer_Document_FolderID",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.01:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": {
														"value": "@concat(pipeline().parameters.VINCI_MC_BaseUrl,'.rest.marketingcloudapis.com/asset/v1/content/categories/',activity('LK_Get_Emailer_Document_FolderID').output.value[0].folder_id)",
														"type": "Expression"
													},
													"method": "PUT",
													"headers": {
														"Authorization": {
															"value": "@concat('Bearer ',pipeline().parameters.VINCI_MC_Access_Token)",
															"type": "Expression"
														},
														"Content-Type": "application/json"
													},
													"body": {
														"value": "@concat('{\"id\": ',activity('LK_Get_Emailer_Document_FolderID').output.value[0].folder_id,',\"name\": \"',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'-',pipeline().parameters.VVPM_Country_Name.data[0].abbreviation__c,'-',activity('WEB_Get_VVPM_Product_Name').output.data[0].abbreviation__c,'\",\"parentId\": ',activity('LK_Get_Emailer_Document_FolderID').output.value[0].parent_folder_id,'}')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "LK_Get_Emailer_Document_FolderID",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.01:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "@concat('select * from [VFR].[vinci_mc_folder_master] where folder_type = ''Emailer Document'' and folder_name = ''',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'-',pipeline().parameters.VVPM_Country_Name.data[0].abbreviation__c,'-',activity('WEB_Get_VVPM_Product_Name').output.data[0].abbreviation__c,'''')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "SqlServerTable13",
														"type": "DatasetReference",
														"parameters": {}
													},
													"firstRowOnly": false
												}
											}
										]
									}
								},
								{
									"name": "SP_add_asset_log_Assetlog",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "IF_Placeholderflag_Updated",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[VFR].[add_asset_log]",
										"storedProcedureParameters": {
											"created_by": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"created_date": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"error_activity_name": {
												"value": null,
												"type": "String"
											},
											"error_message": {
												"value": null,
												"type": "String"
											},
											"error_timestamp": {
												"value": null,
												"type": "DateTime"
											},
											"execution_id": {
												"value": {
													"value": "@pipeline().parameters.Execution_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_asset_id": {
												"value": {
													"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_asset_name": {
												"value": {
													"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].name__v",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_asset_type": {
												"value": "VINCI MC Email",
												"type": "String"
											},
											"status": {
												"value": "MC Email Template Expiry - Success",
												"type": "String"
											},
											"target_asset_id": {
												"value": {
													"value": "@activity('WEB_Check_VVPM_Doc_VINCI_MC').output.items[0].id",
													"type": "Expression"
												},
												"type": "String"
											},
											"target_asset_name": {
												"value": {
													"value": "@activity('WEB_Check_VVPM_Doc_VINCI_MC').output.items[0].name",
													"type": "Expression"
												},
												"type": "String"
											},
											"target_asset_type": {
												"value": {
													"value": "@concat('VINCI MC Email Message - ',activity('WEB_Check_VVPM_Doc_VINCI_MC').output.items[0].assetType.displayName)",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SET_Processed_asset_count",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SP_add_asset_log_Assetlog",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "processed",
										"value": {
											"value": "@string(add(int(variables('increment')),1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SET_Increment variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SET_Processed_asset_count",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "increment",
										"value": {
											"value": "@variables('processed')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "WEB_Update_placeholderflag_VVPM",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "IF_Tag_Expired",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat(pipeline().parameters.VVPM_BaseUrl,'/api/v21.2/objects/documents/',pipeline().parameters.VVPM_Doc_Details.data[0].Id)",
											"type": "Expression"
										},
										"method": "PUT",
										"headers": {
											"Authorization": {
												"value": "@pipeline().parameters.VVPM_SessionId",
												"type": "Expression"
											},
											"Content-Type": "application/x-www-form-urlencoded"
										},
										"body": "placeholder_created__c=false"
									}
								},
								{
									"name": "IF_Placeholderflag_Updated",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "WEB_Update_placeholderflag_VVPM",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(activity('WEB_Update_placeholderflag_VVPM').output.responseStatus,'SUCCESS')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "SP_add_asset_log_CountryFolder_errorlog",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.01:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[VFR].[add_asset_log]",
													"storedProcedureParameters": {
														"created_by": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"created_date": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"error_activity_name": {
															"value": "Country Folder Creation Error",
															"type": "String"
														},
														"error_message": {
															"value": {
																"value": "@activity('WEB_Update_placeholderflag_VVPM').output.errors",
																"type": "Expression"
															},
															"type": "String"
														},
														"error_timestamp": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"execution_id": {
															"value": {
																"value": "@pipeline().parameters.Execution_ID",
																"type": "Expression"
															},
															"type": "String"
														},
														"source_asset_id": {
															"value": {
																"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v",
																"type": "Expression"
															},
															"type": "String"
														},
														"source_asset_name": {
															"value": {
																"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].name__v",
																"type": "Expression"
															},
															"type": "String"
														},
														"source_asset_type": {
															"value": "VINCI MC Email",
															"type": "String"
														},
														"status": {
															"value": "Placeholder Flag Update Failure - Reapproval",
															"type": "String"
														},
														"target_asset_id": {
															"value": "Error",
															"type": "String"
														},
														"target_asset_name": {
															"value": "Error",
															"type": "String"
														},
														"target_asset_type": {
															"value": "Error",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SqlServer1",
													"type": "LinkedServiceReference"
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "WEB_PO_Email Notification",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "0.01:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": {
														"value": "@pipeline().parameters.Email_Notification_Url",
														"type": "Expression"
													},
													"method": "POST",
													"headers": {},
													"body": {
														"value": "@concat('{\"template_id\": \"',pipeline().parameters.Reapproval_EmailTemplate_ID,'\",\"to_email\" : \"',pipeline().parameters.PO_EmailID,'\",\"doc_no\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'\",\"doc_name\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].name__v,'\",\"usertype\" : \"Project Owner\",\"country\" : \"',pipeline().parameters.VVPM_Country_Name.data[0].name__v,'\",\"location\" : \"''''\",\"bu_name\" : \"',pipeline().parameters.BU_Name,'\"}')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "WEB_DF_Email Notification",
												"type": "WebActivity",
												"dependsOn": [
													{
														"activity": "WEB_PO_Email Notification",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.01:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": {
														"value": "@pipeline().parameters.Email_Notification_Url",
														"type": "Expression"
													},
													"method": "POST",
													"headers": {},
													"body": {
														"value": "@concat('{\"template_id\": \"',pipeline().parameters.Reapproval_EmailTemplate_ID,'\",\"to_email\" : \"',pipeline().parameters.DF_EmailID,'\",\"doc_no\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'\",\"doc_name\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].name__v,'\",\"usertype\" : \"Digital Factory Team\",\"country\" : \"',pipeline().parameters.VVPM_Country_Name.data[0].name__v,'\",\"location\" : \"''''\",\"bu_name\" : \"',pipeline().parameters.BU_Name,'\"}')",
														"type": "Expression"
													}
												}
											}
										]
									}
								},
								{
									"name": "WEB_Get_VVPM_Product_Name",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat(pipeline().parameters.VVPM_BaseUrl,'/api/v21.2/query?q=SELECT name__v,abbreviation__c FROM product__v WHERE id = ''',pipeline().parameters.VVPM_Doc_Details.data[0].product__v[0],'''')",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {
											"Authorization": {
												"value": "@pipeline().parameters.VVPM_SessionId",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "WEB_Check_VVPM_Doc_VINCI_MC",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "WEB_Get_VVPM_Product_Name",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat(pipeline().parameters.VINCI_MC_BaseUrl,'.rest.marketingcloudapis.com/asset/v1/content/assets?$filter=customerKey=',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'-',pipeline().parameters.VVPM_Country_Name.data[0].abbreviation__c,'-',activity('WEB_Get_VVPM_Product_Name').output.data[0].abbreviation__c)",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {
											"Authorization": {
												"value": "@concat('Bearer ',pipeline().parameters.VINCI_MC_Access_Token)",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"VVPM_BaseUrl": {
						"type": "string"
					},
					"VVPM_SessionId": {
						"type": "string"
					},
					"VINCI_MC_BaseUrl": {
						"type": "string"
					},
					"Execution_ID": {
						"type": "string"
					},
					"Email_Notification_Url": {
						"type": "string"
					},
					"Reapproval_EmailTemplate_ID": {
						"type": "string"
					},
					"DF_EmailID": {
						"type": "string"
					},
					"VVPM_Doc_Details": {
						"type": "object"
					},
					"VINCI_MC_Access_Token": {
						"type": "string"
					},
					"PO_EmailID": {
						"type": "string"
					},
					"VVPM_Country_Name": {
						"type": "object"
					},
					"BU_Name": {
						"type": "string"
					}
				},
				"variables": {
					"processed": {
						"type": "String",
						"defaultValue": "0"
					},
					"increment": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "VVPM - VINCI MC Integration/4. Reapproval"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-28T06:56:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerTable13')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/008_PL_MC_Cancelled_Withdrawn_Create_Folder')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LK_Get_Folder_ID_DB",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[VFR].[get_mc_folder_id]",
								"storedProcedureParameters": {
									"folder_id": {
										"type": "String",
										"value": null
									},
									"folder_name": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Folder_Name",
											"type": "Expression"
										}
									},
									"folder_type": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Folder_Type",
											"type": "Expression"
										}
									},
									"parent_folder_id": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.Parent_Folder_ID",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SqlServerTable14",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "IF_Folder_Unavailable",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LK_Get_Folder_ID_DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('LK_Get_Folder_ID_DB').output.value[0].folder_id,null)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SET_VAR_Folder_ID",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Var_Folder_ID",
										"value": {
											"value": "@activity('LK_Get_Folder_ID_DB').output.value[0].folder_id",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "WEB_Create_Folder",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat(pipeline().parameters.VINCI_MC_BaseUrl,'.rest.marketingcloudapis.com/asset/v1/content/categories')",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {
											"Content-Type": "application/json",
											"Authorization": {
												"value": "@concat('Bearer ',pipeline().parameters.VINCI_MC_Access_Token)",
												"type": "Expression"
											}
										},
										"body": {
											"value": "@concat('{\"Name\": \"',pipeline().parameters.Folder_Name,'\",\"ParentId\": ',pipeline().parameters.Parent_Folder_ID,'}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SET_Folder_ID",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "WEB_Create_Folder",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "Var_Folder_ID",
										"value": {
											"value": "@string(activity('WEB_Create_Folder').output.id)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SP_Add_Folder_Details_DB",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "SET_Folder_ID",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[VFR].[add_mc_new_folder_details]",
										"storedProcedureParameters": {
											"created_by": {
												"value": "Dhivya Veerasami",
												"type": "String"
											},
											"folder_id": {
												"value": {
													"value": "@activity('WEB_Create_Folder').output.id",
													"type": "Expression"
												},
												"type": "String"
											},
											"folder_name": {
												"value": {
													"value": "@pipeline().parameters.Folder_Name",
													"type": "Expression"
												},
												"type": "String"
											},
											"folder_type": {
												"value": {
													"value": "@pipeline().parameters.Folder_Type",
													"type": "Expression"
												},
												"type": "String"
											},
											"parent_folder_id": {
												"value": {
													"value": "@pipeline().parameters.Parent_Folder_ID",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"VINCI_MC_BaseUrl": {
						"type": "string"
					},
					"VINCI_MC_Access_Token": {
						"type": "string"
					},
					"Folder_Name": {
						"type": "string"
					},
					"Folder_Type": {
						"type": "string"
					},
					"Parent_Folder_ID": {
						"type": "string"
					}
				},
				"variables": {
					"Var_Folder_ID": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VVPM - VINCI MC Integration/5. Cancelled_Withdrawn"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-28T06:59:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable14')]",
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/008_PL_MC_Draft_Create_Folder')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LK_Get_Folder_ID_DB",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[VFR].[get_mc_folder_id]",
								"storedProcedureParameters": {
									"folder_id": {
										"type": "String",
										"value": null
									},
									"folder_name": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Folder_Name",
											"type": "Expression"
										}
									},
									"folder_type": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Folder_Type",
											"type": "Expression"
										}
									},
									"parent_folder_id": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.Parent_Folder_ID",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SqlServerTable11",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "IF_Folder_Unavailable",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LK_Get_Folder_ID_DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('LK_Get_Folder_ID_DB').output.value[0].folder_id,null)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "WEB_Create_Folder",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat(pipeline().parameters.VINCI_MC_BaseUrl,'.rest.marketingcloudapis.com/asset/v1/content/categories')",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {
											"Content-Type": "application/json",
											"Authorization": {
												"value": "@concat('Bearer ',pipeline().parameters.VINCI_MC_Access_Token)",
												"type": "Expression"
											}
										},
										"body": {
											"value": "@concat('{\"Name\": \"',pipeline().parameters.Folder_Name,'\",\"ParentId\": ',pipeline().parameters.Parent_Folder_ID,'}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SP_Add_Folder_Details_DB",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "WEB_Create_Folder",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.01:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[VFR].[add_mc_new_folder_details]",
										"storedProcedureParameters": {
											"created_by": {
												"value": "Dhivya Veerasami",
												"type": "String"
											},
											"folder_id": {
												"value": {
													"value": "@activity('WEB_Create_Folder').output.id",
													"type": "Expression"
												},
												"type": "String"
											},
											"folder_name": {
												"value": {
													"value": "@pipeline().parameters.Folder_Name",
													"type": "Expression"
												},
												"type": "String"
											},
											"folder_type": {
												"value": {
													"value": "@pipeline().parameters.Folder_Type",
													"type": "Expression"
												},
												"type": "String"
											},
											"parent_folder_id": {
												"value": {
													"value": "@pipeline().parameters.Parent_Folder_ID",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SqlServer1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"VINCI_MC_BaseUrl": {
						"type": "string"
					},
					"VINCI_MC_Access_Token": {
						"type": "string"
					},
					"Folder_Name": {
						"type": "string"
					},
					"Folder_Type": {
						"type": "string"
					},
					"Parent_Folder_ID": {
						"type": "string"
					}
				},
				"variables": {
					"Var_Folder_ID": {
						"type": "String"
					}
				},
				"folder": {
					"name": "VVPM - VINCI MC Integration/1. Draft"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-28T06:56:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable11')]",
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		}
	]
}