pipeline/003_PL_MC_Reapproval_Master.json
{
	"name": "003_PL_MC_Reapproval_Master",
	"properties": {
		"activities": [
			{
				"name": "WEB_VVPM_Reapproval_Doc",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.VVPM_BaseUrl,'/api/v21.2/query?q=SELECT id,name__v,document_number__v,version_modified_date__v FROM documents WHERE  status__v = ''In Reapproval'' and placeholder_created__c = ''true'' and type__v = ''Cross-Functional Material'' and subtype__v = ''Email'' and classification__v = ''VINCI MC Email'' ORDER BY version_modified_date__v ASC')",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@pipeline().parameters.VVPM_SessionId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "FE_Reapprovaldoc",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FE_Reapprovaldoc_Lock",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('WEB_VVPM_Reapproval_Doc').output.data",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "WEB_VVPM_Doc_Details",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(pipeline().parameters.VVPM_BaseUrl,'/api/v21.2/query?q=SELECT id,name__v,document_number__v,product__v,country__v,created_by__v,email_template_type__c FROM documents WHERE  document_number__v = ''',item().document_number__v,'''')",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@pipeline().parameters.VVPM_SessionId",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "PL_005_Country_Loop_Dev",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "WEB_Get_PO_EmailID_VVPM",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "004_PL_MC_Reapproval_Country",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"VVPM_BaseUrl": {
										"value": "@pipeline().parameters.VVPM_BaseUrl",
										"type": "Expression"
									},
									"VVPM_SessionId": {
										"value": "@pipeline().parameters.VVPM_SessionId",
										"type": "Expression"
									},
									"VINCI_MC_BaseUrl": {
										"value": "@pipeline().parameters.VINCI_MC_BaseUrl",
										"type": "Expression"
									},
									"Execution_ID": {
										"value": "@pipeline().parameters.Execution_ID",
										"type": "Expression"
									},
									"Email_Notification_Url": {
										"value": "@pipeline().parameters.Email_Notification_Url",
										"type": "Expression"
									},
									"Reapproval_EmailTemplate_ID": {
										"value": "@pipeline().parameters.Reapproval_EmailTemplate_ID",
										"type": "Expression"
									},
									"DF_EmailID": {
										"value": "@pipeline().parameters.DF_EmailID",
										"type": "Expression"
									},
									"VVPM_Doc_Details": {
										"value": "@activity('WEB_VVPM_Doc_Details').output",
										"type": "Expression"
									},
									"PO_EmailID": {
										"value": "@activity('WEB_Get_PO_EmailID_VVPM').output.data[0].user_email__v",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "WEB_Get_PO_EmailID_VVPM",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "WEB_VVPM_Doc_Details",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(pipeline().parameters.VVPM_BaseUrl,'/api/v21.2/query?q=SELECT user_email__v FROM users WHERE id = ''',activity('WEB_VVPM_Doc_Details').output.data[0].created_by__v,'''')",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@pipeline().parameters.VVPM_SessionId",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "FE_Reapprovaldoc_Lock",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "WEB_VVPM_Reapproval_Doc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('WEB_VVPM_Reapproval_Doc').output.data",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "WEB_lock_document_VVPM",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(pipeline().parameters.VVPM_BaseUrl,'/api/v21.2/objects/documents/',item().id)",
									"type": "Expression"
								},
								"method": "PUT",
								"headers": {
									"Authorization": {
										"value": "@pipeline().parameters.VVPM_SessionId",
										"type": "Expression"
									},
									"Content-Type": "application/x-www-form-urlencoded"
								},
								"body": "placeholder_created__c=null"
							}
						}
					]
				}
			},
			{
				"name": "SP_update_batch_log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "FE_Reapprovaldoc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[VFR].[update_batch_log]",
					"storedProcedureParameters": {
						"errors_message": {
							"value": null,
							"type": "String"
						},
						"execution_id": {
							"value": {
								"value": "@pipeline().parameters.Execution_ID",
								"type": "Expression"
							},
							"type": "String"
						},
						"failed_asset_count": {
							"value": {
								"value": "@sub(activity('WEB_VVPM_Reapproval_Doc').output.responseDetails.total,int(variables('processed')))",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"job_duration": {
							"value": null,
							"type": "TimeSpan"
						},
						"job_end_time": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"processed_asset_count": {
							"value": {
								"value": "@variables('processed')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"total_asset_count": {
							"value": {
								"value": "@activity('WEB_VVPM_Reapproval_Doc').output.responseDetails.total",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"VVPM_BaseUrl": {
				"type": "string"
			},
			"VVPM_SessionId": {
				"type": "string"
			},
			"VINCI_MC_BaseUrl": {
				"type": "string"
			},
			"Execution_ID": {
				"type": "string"
			},
			"Email_Notification_Url": {
				"type": "string"
			},
			"Reapproval_EmailTemplate_ID": {
				"type": "string"
			},
			"DF_EmailID": {
				"type": "string"
			}
		},
		"variables": {
			"processed": {
				"type": "String",
				"defaultValue": "0"
			},
			"increment": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "VVPM - VINCI MC Integration/4. Reapproval"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-29T09:48:08Z"
	}
}