pipeline/005_PL_MC_AFD_Product.json
{
	"name": "005_PL_MC_AFD_Product",
	"properties": {
		"activities": [
			{
				"name": "FE_Product",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].product__v",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "WEB_Check_VVPM_Doc_VINCI_MC",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "WEB_Get_VVPM_Product_Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(pipeline().parameters.VINCI_MC_BaseUrl,'.rest.marketingcloudapis.com/asset/v1/content/assets?$filter=customerKey=',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'-',pipeline().parameters.VVPM_Country_Details.data[0].abbreviation__c,'-',activity('WEB_Get_VVPM_Product_Name').output.data[0].abbreviation__c)",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@concat('Bearer ',pipeline().parameters.VINCI_MC_Access_Token)",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "WEB_Get_VVPM_Product_Name",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(pipeline().parameters.VVPM_BaseUrl,'/api/v21.2/query?q=SELECT name__v,abbreviation__c FROM product__v WHERE id = ''',item(),'''')",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@pipeline().parameters.VVPM_SessionId",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "If MC_Available",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "WEB_Check_VVPM_Doc_VINCI_MC",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('WEB_Check_VVPM_Doc_VINCI_MC').output.count,0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "WEB_update_tag_Approved",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "0.01:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": {
												"value": "@concat(pipeline().parameters.VINCI_MC_BaseUrl,'.rest.marketingcloudapis.com/asset/v1/content/assets/',activity('WEB_Check_VVPM_Doc_VINCI_MC').output.items[0].id)",
												"type": "Expression"
											},
											"method": "PATCH",
											"headers": {
												"Authorization": {
													"value": "@concat('Bearer ',pipeline().parameters.VINCI_MC_Access_Token)",
													"type": "Expression"
												},
												"Content-Type": "application/json"
											},
											"body": {
												"value": "@concat('{\"tags\": [\"Approved\"]}')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "WEB_Update_Published_UAT_VVPM",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "WEB_update_tag_Approved",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.01:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": {
												"value": "@concat(pipeline().parameters.VVPM_BaseUrl,'/api/v21.2/objects/documents/',pipeline().parameters.VVPM_Doc_Details.data[0].Id)",
												"type": "Expression"
											},
											"method": "PUT",
											"headers": {
												"Authorization": {
													"value": "@pipeline().parameters.VVPM_SessionId",
													"type": "Expression"
												},
												"Content-Type": "application/x-www-form-urlencoded"
											},
											"body": "published_from_uat_to_prod__c=true&placeholder_created__c=true"
										}
									},
									{
										"name": "SP_add_asset_log_Assetlog",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "006_PL_Email_Notification_MC_AFD_copy1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.01:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[VFR].[add_asset_log]",
											"storedProcedureParameters": {
												"created_by": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"created_date": {
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"error_activity_name": {
													"value": null,
													"type": "String"
												},
												"error_message": {
													"value": null,
													"type": "String"
												},
												"error_timestamp": {
													"value": null,
													"type": "DateTime"
												},
												"execution_id": {
													"value": {
														"value": "@pipeline().parameters.Execution_ID",
														"type": "Expression"
													},
													"type": "String"
												},
												"source_asset_id": {
													"value": {
														"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v",
														"type": "Expression"
													},
													"type": "String"
												},
												"source_asset_name": {
													"value": {
														"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].name__v",
														"type": "Expression"
													},
													"type": "String"
												},
												"source_asset_type": {
													"value": "VINCI MC Email",
													"type": "String"
												},
												"status": {
													"value": "MC Email Template Expiry - Success",
													"type": "String"
												},
												"target_asset_id": {
													"value": {
														"value": "@activity('WEB_Check_VVPM_Doc_VINCI_MC').output.items[0].id",
														"type": "Expression"
													},
													"type": "String"
												},
												"target_asset_name": {
													"value": {
														"value": "@activity('WEB_Check_VVPM_Doc_VINCI_MC').output.items[0].name",
														"type": "Expression"
													},
													"type": "String"
												},
												"target_asset_type": {
													"value": "VINCI MC Email",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SqlServer1",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "SET_Processed_asset_count",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "SP_add_asset_log_Assetlog",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "processed",
											"value": {
												"value": "@string(add(int(variables('increment')),1))",
												"type": "Expression"
											}
										}
									},
									{
										"name": "SET_Increment variable",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "SET_Processed_asset_count",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "increment",
											"value": {
												"value": "@variables('processed')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "006_PL_Email_Notification_MC_AFD_copy1",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "WEB_Update_Published_UAT_VVPM",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "006_PL_MC_AFD_Email_Notification",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"Execution_ID": {
													"value": "@pipeline().parameters.Execution_ID",
													"type": "Expression"
												},
												"Email_Notification_Url": {
													"value": "@pipeline().parameters.Email_Notification_Url",
													"type": "Expression"
												},
												"DF_EmailID": {
													"value": "@pipeline().parameters.DF_EmailID",
													"type": "Expression"
												},
												"AFD_Success_EmailTemplate_ID": {
													"value": "@pipeline().parameters.AFD_Success_EmailTemplate_ID",
													"type": "Expression"
												},
												"VVPM_Doc_Details": {
													"value": "@pipeline().parameters.VVPM_Doc_Details",
													"type": "Expression"
												},
												"VVPM_Country_Details": {
													"value": "@pipeline().parameters.VVPM_Country_Details",
													"type": "Expression"
												},
												"BU_Details": {
													"value": "@pipeline().parameters.BU_Details",
													"type": "Expression"
												},
												"PO_EmailID": {
													"value": "@pipeline().parameters.PO_EmailID",
													"type": "Expression"
												},
												"Flag_Update_Status": {
													"value": "@activity('WEB_Update_Published_UAT_VVPM').output",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"VVPM_BaseUrl": {
				"type": "string"
			},
			"VVPM_SessionId": {
				"type": "string"
			},
			"Execution_ID": {
				"type": "string"
			},
			"Email_Notification_Url": {
				"type": "string"
			},
			"DF_EmailID": {
				"type": "string"
			},
			"VINCI_MC_BaseUrl": {
				"type": "string"
			},
			"AFD_Success_EmailTemplate_ID": {
				"type": "string"
			},
			"VVPM_Doc_Details": {
				"type": "object"
			},
			"VINCI_MC_Access_Token": {
				"type": "string"
			},
			"VVPM_Country_Details": {
				"type": "object"
			},
			"BU_Details": {
				"type": "object"
			},
			"PO_EmailID": {
				"type": "string"
			}
		},
		"variables": {
			"processed": {
				"type": "String",
				"defaultValue": "0"
			},
			"increment": {
				"type": "String",
				"defaultValue": "0"
			},
			"ML_Expiration_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "VVPM - VINCI MC Integration/2. Approved for Distribution"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-28T06:56:57Z"
	}
}