pipeline/005_PL_MC_Draft_Product.json
{
	"name": "005_PL_MC_Draft_Product",
	"properties": {
		"activities": [
			{
				"name": "FE_Product",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].product__v",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "WEB_Check_VVPM_Doc_VINCI_MC",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "WEB_Get_VVPM_Product_Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(pipeline().parameters.VINCI_MC_BaseUrl,'.rest.marketingcloudapis.com/asset/v1/content/assets?$filter=customerKey=',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'-',pipeline().parameters.VVPM_Country_Abbrevation,'-',activity('WEB_Get_VVPM_Product_Name').output.data[0].abbreviation__c)",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@concat('Bearer ',pipeline().parameters.VINCI_MC_Access_Token)",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "IF_SingleBU",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "WEB_Check_VVPM_Doc_VINCI_MC",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(pipeline().parameters.BU_Details.firstRow.has_multiple_country,false)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "PL_003_PL_Folder_Creation_Master_MultipleBU",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "007_PL_MC_Draft_Folder_Creation_Master_MultipleBU",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"VINCI_MC_Count": {
													"value": "@activity('WEB_Check_VVPM_Doc_VINCI_MC').output.count",
													"type": "Expression"
												},
												"VINCI_MC_BaseUrl": {
													"value": "@pipeline().parameters.VINCI_MC_BaseUrl",
													"type": "Expression"
												},
												"VINCI_MC_Access_Token": {
													"value": "@pipeline().parameters.VINCI_MC_Access_Token",
													"type": "Expression"
												},
												"VVPM_Doc_Details": {
													"value": "@pipeline().parameters.VVPM_Doc_Details",
													"type": "Expression"
												},
												"VVPM_BaseUrl": {
													"value": "@pipeline().parameters.VVPM_BaseUrl",
													"type": "Expression"
												},
												"VVPM_SessionId": {
													"value": "@pipeline().parameters.VVPM_SessionId",
													"type": "Expression"
												},
												"VINCI_MC_Email_Details": {
													"value": "@activity('WEB_Check_VVPM_Doc_VINCI_MC').output",
													"type": "Expression"
												},
												"VINCI_MC_IQ_Folder_ID": {
													"value": "@pipeline().parameters.VINCI_MC_IQ_Folder_ID",
													"type": "Expression"
												},
												"Execution_ID": {
													"value": "@pipeline().parameters.Execution_ID",
													"type": "Expression"
												},
												"Email_Notification_Url": {
													"value": "@pipeline().parameters.Email_Notification_Url",
													"type": "Expression"
												},
												"Draft_Success_EmailTemplate_ID": {
													"value": "@pipeline().parameters.Draft_Success_EmailTemplate_ID",
													"type": "Expression"
												},
												"Draft_Error_EmailTemplate_ID": {
													"value": "@pipeline().parameters.Draft_Error_EmailTemplate_ID",
													"type": "Expression"
												},
												"ReDraft_Success_EmailTemplate_ID": {
													"value": "@pipeline().parameters.ReDraft_Success_EmailTemplate_ID",
													"type": "Expression"
												},
												"DF_EmailID": {
													"value": "@pipeline().parameters.DF_EmailID",
													"type": "Expression"
												},
												"VVPM_Country_Name": {
													"value": "@pipeline().parameters.VVPM_Country_Name",
													"type": "Expression"
												},
												"VVPM_Product_Details": {
													"value": "@activity('WEB_Get_VVPM_Product_Name').output",
													"type": "Expression"
												},
												"BU_Details": {
													"value": "@pipeline().parameters.BU_Details",
													"type": "Expression"
												},
												"PO_EmailID": {
													"value": "@pipeline().parameters.PO_EmailID",
													"type": "Expression"
												},
												"Email_Asset_type": {
													"value": "@pipeline().parameters.Email_Asset_Type",
													"type": "Expression"
												},
												"Customer_Key": {
													"value": "@concat(pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'-',pipeline().parameters.VVPM_Country_Abbrevation,'-',activity('WEB_Get_VVPM_Product_Name').output.data[0].abbreviation__c)",
													"type": "Expression"
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "PL_003_PL_Folder_Creation_Master_SingleBU",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "006_PL_MC_Draft_Folder_Creation_Master_SingleBU",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"VINCI_MC_Count": {
													"value": "@activity('WEB_Check_VVPM_Doc_VINCI_MC').output.count",
													"type": "Expression"
												},
												"VINCI_MC_BaseUrl": {
													"value": "@pipeline().parameters.VINCI_MC_BaseUrl",
													"type": "Expression"
												},
												"VINCI_MC_Access_Token": {
													"value": "@pipeline().parameters.VINCI_MC_Access_Token",
													"type": "Expression"
												},
												"VVPM_Doc_Details": {
													"value": "@pipeline().parameters.VVPM_Doc_Details",
													"type": "Expression"
												},
												"VVPM_BaseUrl": {
													"value": "@pipeline().parameters.VVPM_BaseUrl",
													"type": "Expression"
												},
												"VVPM_SessionId": {
													"value": "@pipeline().parameters.VVPM_SessionId",
													"type": "Expression"
												},
												"VINCI_MC_Email_Details": {
													"value": "@activity('WEB_Check_VVPM_Doc_VINCI_MC').output",
													"type": "Expression"
												},
												"VINCI_MC_IQ_Folder_ID": {
													"value": "@pipeline().parameters.VINCI_MC_IQ_Folder_ID",
													"type": "Expression"
												},
												"Execution_ID": {
													"value": "@pipeline().parameters.Execution_ID",
													"type": "Expression"
												},
												"Email_Notification_Url": {
													"value": "@pipeline().parameters.Email_Notification_Url",
													"type": "Expression"
												},
												"Draft_Success_EmailTemplate_ID": {
													"value": "@pipeline().parameters.Draft_Success_EmailTemplate_ID",
													"type": "Expression"
												},
												"Draft_Error_EmailTemplate_ID": {
													"value": "@pipeline().parameters.Draft_Error_EmailTemplate_ID",
													"type": "Expression"
												},
												"ReDraft_Success_EmailTemplate_ID": {
													"value": "@pipeline().parameters.ReDraft_Success_EmailTemplate_ID",
													"type": "Expression"
												},
												"DF_EmailID": {
													"value": "@pipeline().parameters.DF_EmailID",
													"type": "Expression"
												},
												"VVPM_Country_Name": {
													"value": "@pipeline().parameters.VVPM_Country_Name",
													"type": "Expression"
												},
												"Product_details": {
													"value": "@activity('WEB_Get_VVPM_Product_Name').output",
													"type": "Expression"
												},
												"BU_Details": {
													"value": "@pipeline().parameters.BU_Details",
													"type": "Expression"
												},
												"PO_EmailID": {
													"value": "@pipeline().parameters.PO_EmailID",
													"type": "Expression"
												},
												"Customer_Key": {
													"value": "@concat(pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'-',pipeline().parameters.VVPM_Country_Abbrevation,'-',activity('WEB_Get_VVPM_Product_Name').output.data[0].abbreviation__c)",
													"type": "Expression"
												},
												"Email_Asset_type": {
													"value": "@pipeline().parameters.Email_Asset_Type",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "WEB_Get_VVPM_Product_Name",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(pipeline().parameters.VVPM_BaseUrl,'/api/v21.2/query?q=SELECT name__v,abbreviation__c FROM product__v WHERE id = ''',item(),'''')",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@pipeline().parameters.VVPM_SessionId",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"VVPM_BaseUrl": {
				"type": "string"
			},
			"VVPM_SessionId": {
				"type": "string"
			},
			"VINCI_MC_BaseUrl": {
				"type": "string"
			},
			"VINCI_MC_Access_Token": {
				"type": "string"
			},
			"Execution_ID": {
				"type": "string"
			},
			"Email_Notification_Url": {
				"type": "string"
			},
			"Draft_Success_EmailTemplate_ID": {
				"type": "string"
			},
			"Draft_Error_EmailTemplate_ID": {
				"type": "string"
			},
			"ReDraft_Success_EmailTemplate_ID": {
				"type": "string"
			},
			"DF_EmailID": {
				"type": "string"
			},
			"VVPM_Doc_Details": {
				"type": "object"
			},
			"BU_Details": {
				"type": "object"
			},
			"VVPM_Country_Name": {
				"type": "string"
			},
			"VINCI_MC_IQ_Folder_ID": {
				"type": "string"
			},
			"PO_EmailID": {
				"type": "string"
			},
			"Email_Asset_Type": {
				"type": "object"
			},
			"VVPM_Country_Abbrevation": {
				"type": "string"
			}
		},
		"variables": {
			"processed": {
				"type": "String",
				"defaultValue": "0"
			},
			"increment": {
				"type": "String",
				"defaultValue": "0"
			},
			"Digital_Factory_BU": {
				"type": "String"
			}
		},
		"folder": {
			"name": "VVPM - VINCI MC Integration/1. Draft"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-28T06:56:59Z"
	}
}