pipeline/009_PL_MC_Draft_Email_Notification.json
{
	"name": "009_PL_MC_Draft_Email_Notification",
	"properties": {
		"activities": [
			{
				"name": "WEB_Update_placeholderflag_VVPM",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.VVPM_BaseUrl,'/api/v21.2/objects/documents/',pipeline().parameters.VVPM_Doc_Details.data[0].Id)",
						"type": "Expression"
					},
					"method": "PUT",
					"headers": {
						"Authorization": {
							"value": "@pipeline().parameters.VVPM_SessionId",
							"type": "Expression"
						},
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "placeholder_created__c=true"
				}
			},
			{
				"name": "IF_Placeholderflag_Updated",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "WEB_Update_placeholderflag_VVPM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('WEB_Update_placeholderflag_VVPM').output.responseStatus,'SUCCESS')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SP_add_asset_log_CountryFolder_errorlog",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[VFR].[add_asset_log]",
								"storedProcedureParameters": {
									"created_by": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"created_date": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"error_activity_name": {
										"value": "Country Folder Creation Error",
										"type": "String"
									},
									"error_message": {
										"value": {
											"value": "@activity('WEB_Update_placeholderflag_VVPM').output.errors",
											"type": "Expression"
										},
										"type": "String"
									},
									"error_timestamp": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"execution_id": {
										"value": {
											"value": "@pipeline().parameters.Execution_ID",
											"type": "Expression"
										},
										"type": "String"
									},
									"source_asset_id": {
										"value": {
											"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v",
											"type": "Expression"
										},
										"type": "String"
									},
									"source_asset_name": {
										"value": {
											"value": "@pipeline().parameters.VVPM_Doc_Details.data[0].name__v",
											"type": "Expression"
										},
										"type": "String"
									},
									"source_asset_type": {
										"value": "VINCI MC Email",
										"type": "String"
									},
									"status": {
										"value": "Placeholder Flag Update Failure",
										"type": "String"
									},
									"target_asset_id": {
										"value": "Error",
										"type": "String"
									},
									"target_asset_name": {
										"value": "Error",
										"type": "String"
									},
									"target_asset_type": {
										"value": "Error",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServer1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "WEB_PO_Email Notification",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@pipeline().parameters.Email_Notification_Url",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"value": "@concat('{\"template_id\": \"',pipeline().parameters.EmailTemplate_ID,'\",\"to_email\" : \"',pipeline().parameters.PO_EmailID,'\",\"doc_no\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'\",\"doc_name\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].name__v,'\",\"usertype\" : \"Project Owner\",\"country\" : \"',pipeline().parameters.Email_Country_Name,'\",\"location\" : \"',pipeline().parameters.Email_Location,'\",\"bu_name\" : \"',pipeline().parameters.BU_Details.firstRow.bu_name,'\"}')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "WEB_DF_Email Notification",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "WEB_PO_Email Notification",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@pipeline().parameters.Email_Notification_Url",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"value": "@concat('{\"template_id\": \"',pipeline().parameters.EmailTemplate_ID,'\",\"to_email\" : \"',pipeline().parameters.DF_EmailID,'\",\"doc_no\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].document_number__v,'\",\"doc_name\" : \"',pipeline().parameters.VVPM_Doc_Details.data[0].name__v,'\",\"usertype\" : \"Digital Factory Team\",\"country\" : \"',pipeline().parameters.Email_Country_Name,'\",\"location\" : \"',pipeline().parameters.Email_Location,'\",\"bu_name\" : \"',pipeline().parameters.BU_Details.firstRow.bu_name,'\"}')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"VVPM_BaseUrl": {
				"type": "string"
			},
			"VVPM_SessionId": {
				"type": "string"
			},
			"VVPM_Doc_Details": {
				"type": "object"
			},
			"Email_Notification_Url": {
				"type": "string"
			},
			"EmailTemplate_ID": {
				"type": "string"
			},
			"Email_Country_Name": {
				"type": "string"
			},
			"PO_EmailID": {
				"type": "string"
			},
			"DF_EmailID": {
				"type": "string"
			},
			"Email_Location": {
				"type": "string"
			},
			"Execution_ID": {
				"type": "string"
			},
			"BU_Details": {
				"type": "object"
			}
		},
		"folder": {
			"name": "VVPM - VINCI MC Integration/1. Draft"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-28T06:56:57Z"
	}
}